.popup-body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
.popup-body .popup-card{
    display: block;
    overflow: hidden;
    width: 75%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fbd405;
    padding: 50px;
}
.popup-body .text-normal{
    font-weight: 400;
}
.popup-body .text-center{
    text-align: center;
}
.popup-body .row{
    display: flex;
    width: 100%;
}
.popup-body .d-flex{
    display: flex;
}
.popup-body .justify-content-center{
    justify-content: center;
}
.popup-body .align-items-center{
    align-items: center;
}
.popup-body .col{
    flex-basis: 50%;
}
.popup-body .heading-text{
    font-size: 30px;
}
.popup-body .sale-img{
    position: relative;
}
.popup-body .input-group{
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}
.popup-body .form-input{
    width: calc(100% - 44px);
    height: 48px;
    padding: 2px 20px;
    border: solid #ccc 1px;
    border-radius: 2px;
}
.popup-body .form-input:focus{
   outline: solid 1px #000;
}
.popup-body .check-group{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.popup-body .form-check{
    width: 24px;
    height: 24px;
}

.popup-body .btn{
    width: 100%;
    height: 48px;
    background: #000;
    border: solid 2px #000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.popup-body .btn:hover{
    background: #fff;
    color: #000;
}

.popup-body .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.popup-body .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #000;
}
.popup-body .close:before {
    transform: rotate(45deg);
}
.popup-body .close:after {
    transform: rotate(-45deg);
}

.popup-body .link-text{
    color: #000;
    padding-top: 5px;
    display: inline-block;
    text-transform: uppercase;
}
.popup-body .w-100{
    width: 100%;
}

@media (max-width: 768px){
    .popup-body .popup-body{
        height: auto;
    }
    .popup-body .row{
        flex-direction: column;
    }
    .popup-body .popup-card{
        width: 65%;
    }
    .popup-body .heading-text{
        font-size: 28px;
    }
    .popup-body .close{
        top: 20px;
    }
    .popup-body .sale-img{
        display: none;
    }
}